<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    id          = "com.xsmart.tv"
    versionCode = "300"
    version     = "3.0" >

    <!-- versionCode is optional and Android only -->

    <name>XSMART</name>

    <description>
      all in one
    </description>

    <author href="http://xsmart.tv" email="support@xsmart.tv">
      XSMART
    </author>

    <!-- We'll include the Barcode plugin as an example -->
	<plugin name="com.phonegap.plugins.pushplugin" spec="2.5.0" source="pgb" />
</widget>
