<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.xsmart.tv"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>XSMART</name>

  <description>
      all in one
  </description>

  <author href="http://xsmart.tv" email="support@xsmart.tv">
      JasonX, Lestat, Dronbi4
  </author>

</widget>
